@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.others-pages-demo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  gap: $xlg;

  &-header {
    position: absolute;
    top: 0;
    left: 0;
    font-size: $lg;
    color: $darkBlue;
    font-weight: 500;
    text-transform: capitalize;
  }

  &-developer {
    width: 5rem;
    height: 5rem;

    @include sm {
      width: 6rem;
      height: 6rem;
    }
  }

  &-text {
    font-size: $base;
    text-transform: capitalize;
  }
}
