@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.table-description {
  padding: 0.6rem 0;
  padding-right: 1rem;
  max-width: 100%;
  white-space: nowrap;

  &:first-child {
    @include lg {
      max-width: 130px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-right: 1rem;
    }
  }

  @include lg {
    padding-right: 0;
  }
}
