@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.user-login {
  background-color: $white;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 2rem;

  @include lg {
    padding: 4rem;
  }

  &-content {
    display: flex;
    align-items: flex-end;
    gap: 1.5rem;
    margin-top: 4.5rem;

    @include lg {
      gap: 4.3rem;
    }

    &-left {
      flex: 1;
      display: none;

      @include md {
        display: block;
      }

      &-illustration {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-form {
      flex: 1;
      text-align: center;

      @include md {
        text-align: left;
        padding: 0 3rem;
      }

      &-header {
        font-weight: 700;
        font-size: $xlg;
        color: $darkBlue;
        padding: 0;
        margin: 0;

        @include md {
          font-size: $xxlg;
        }
      }

      &-description {
        font-size: $md;
        padding: 0;
        margin: $tiny 0 3.75rem 0;

        @include lg {
          font-size: $base;
        }
      }

      &-container {
        display: flex;
        flex-direction: column;
        gap: $xlg;

        @include lg {
          width: 80%;
        }

        &-password-field {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;

          &-toggle-password-type {
            position: absolute;
            right: $base;
            font-size: $xs;
            font-weight: 600;
            color: $lightBlue;
            letter-spacing: 1px;
            user-select: none;
            cursor: pointer;
          }
        }

        &-forgot-password {
          font-size: $xs;
          font-weight: 600;
          color: $lightBlue;
          letter-spacing: 1px;
          text-align: left;
        }

        &-submit-btn {
          width: 100%;
          height: 3rem;
          background-color: $lightBlue;
          color: $white;
          font-size: $md;
          font-weight: 600;
          border-radius: 8px;
          letter-spacing: 1px;
          border: none;
        }
      }
    }
  }
}
