@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.filter-custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;

  &-title {
    font-weight: 500;
  }

  &-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    background-color: $white;
    border-radius: 8px;
    border: 1px solid $borderColor;
    padding: 0 1.25rem;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
  }

  &-open {
    border-radius: 8px 8px 0 0;
    border-bottom: none;
  }

  &-options {
    position: absolute;
    top: 3.65rem;
    left: 0;
    list-style: none;
    width: 100%;
    min-height: 7rem;
    background-color: $white;
    border: 1px solid $borderColor;
    border-top: none;
    box-shadow: 0 0 5px $boxShadowColor;
    border-radius: 0 0 8px 8px;
    margin: 0;
    padding: 0;
    animation: zoom 0.3s ease-in-out;
    z-index: 1;

    &-option {
      padding: 0.25rem 0.5rem;

      &:first-child {
        margin-top: 0.75rem;
      }

      &:hover {
        background-color: $borderColor;
        cursor: pointer;
      }
    }
  }
}
