@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.details-on-display {
  background-color: $white;
  border: 1px solid #213f7d0f;
  border-radius: 4px;
  box-shadow: 3px 5px 20px $boxShadowColor;
  overflow: hidden;
  min-height: 50vh;
  padding: $base $base 0 $base;

  @include sm {
    padding: $xlg $xlg 0 $xlg;
  }
}
