@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.side-nav-link {
  display: flex;
  align-items: center;
  gap: $tiny;
  padding: 0.5rem 1.125rem;

  &.active {
    position: relative;
    background-color: #39cdcd10;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: $lightBlue;
    }
  }

  @include lg {
    padding: 0.5rem 1.875rem;
  }

  &:hover {
    font-weight: 500;
  }

  &-icon {
    width: $lg;
    height: $lg;
    object-fit: contain;
  }

  &-text {
    margin: 0;
  }
}
