@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.app-search {
  display: none;
  width: 25rem;
  height: 2.5rem;
  border: 1px solid $borderColor;
  border-radius: 8px;
  overflow: hidden;

  &-input {
    flex: 1;
    font-size: $md;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 1rem;
  }

  &-submit-btn {
    display: grid;
    place-items: center;
    background-color: $lightBlue;
    width: 3.5rem;
    height: 100%;
    border: none;
    outline: none;
  }

  @include sm {
    display: flex;
  }
}
