@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.user-dropdown {
  position: relative;

  &-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    &-avatar {
      width: 1.5rem;
      height: 1.5rem;
      object-fit: cover;
      border-radius: 50%;
      overflow: hidden;

      @include sm {
        width: 2.5rem;
        height: 2.5rem;
      }

      @include xl {
        width: 3rem;
        height: 3rem;
      }
    }

    &-username {
      display: none;
      font-size: $md;
      text-transform: capitalize;
      margin-left: $tiny;

      @include lg {
        display: block;
        font-size: $base;
        font-weight: 500;
      }
    }

    &-caret {
      margin-left: $tiny;
    }
  }

  &-dropdown {
    position: absolute;
    top: 3rem;
    right: 0;
    background: $white;
    width: 15rem;
    min-height: 8rem;
    border: 1px solid $borderColor;
    border-radius: 8px;
    padding: 1rem;
    animation: zoom 0.3s ease-in-out;

    &:focus {
      border: 1px solid $borderColor;
      outline: none;
    }

    @include sm {
      width: 20rem;
      min-height: 10rem;
      top: 4.5rem;
    }

    &-item {
      font-weight: 500;
      margin: 0;
      padding: $xs 0;

      &:hover {
        background-color: $borderColor;
        cursor: pointer;
      }
    }
  }
}
