@import 'scss/media-query-mixins';
@import 'scss/_sass-variables.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $appBgColor;
  color: $fontColor;
  font-size: $md;
  padding: 0;
  margin: 0;

  @include xl {
    width: 1536px;
    margin: 0 auto;
  }
}

// setting button element to have pointer cursor
button {
  cursor: pointer;
}
