$darkBlue: #213f7d;
$lightBlue: #39cdcc;
$fontColor: #545f7d;
$borderColor: #545f7d26;
$white: #ffffff;
$error: #e4033b;
$sunYellow: #e9b200;
$tiny: 0.625;
$xs: 0.75rem;
$md: 0.875rem;
$base: 1rem;
$lg: 1.25rem;
$xlg: 1.5rem;
$xxlg: 2.5rem;
