@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.page-not-found {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;

  &-img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: contain;

    @include sm {
      width: 15rem;
      height: 15rem;
    }
  }

  &-text {
    font-size: $base;
    font-weight: 500;
    text-align: center;
  }

  &-home-btn {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background-color: $lightBlue;
    padding: $base $xlg;
    border-radius: 5px;
    color: $white;
    font-size: $base;
  }
}
