@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.details-category {
  border-bottom: 1px solid $borderColor;
  padding-bottom: $lg;

  &:last-child {
    border-bottom: none;
  }

  &-title {
    font-size: $base;
    font-weight: 500;
    color: $darkBlue;
    margin: 0 0 $lg 0;
  }
}
