@import 'scss/_media-query-mixins.scss';
@import 'scss/_sass-variables.scss';

.filter-users {
  position: absolute;
  top: 3rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 13.875rem;
  min-height: 28rem;
  background-color: $white;
  box-shadow: 3px 5px 20px $boxShadowColor;
  border: 1px solid $borderColor;
  border-radius: 4px;
  padding: 1rem;
  animation: zoom 0.3s ease-in-out;
  z-index: 1;

  @include sm {
  width: 16.875rem;
  padding: 1.875rem 1.25rem;
  }

  &:focus {
    border: 1px solid $borderColor;
    outline: none;
  }

  &-reset-filter-btns {
    display: flex;
    gap: $md;

    &-action-btn {
      flex: 1;
      height: 2.5rem;
      border-radius: 8px;
      border: none;
      font-weight: 600;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }

    &-reset {
      background-color: $white;
      border: 1px solid $borderColor;
    }

    &-filter {
      background-color: $lightBlue;
      color: $white;
    }
  }
}
